{% extends 'base.html' %} 
{% load calendario %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <table class="table table-bordered table-striped">
		    <thead>
		        <tr>
		            <th>Departamento</th>
		            <th style="width: 60px;">deletar</th>
		        </tr>
		    </thead>
		    <tbody>
		        {% for dpt in object_list %}
		        <tr>
		            <td><a href="{% url 'departamento_form' dpt.pk %}">{{ dpt.nome }}</a></td>
		            <td>
		                <a href="{% url 'departamento_delete' dpt.pk %}" class="btn btn-small btn-danger">
		                    X
		                </a>
		            </td>
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
		<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
		            <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
		        {% endif %}

		        <span class="current">
		            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
		        </span>

		        {% if page_obj.has_next %}
		            <a href="?page={{ page_obj.next_page_number }}">próximo</a>
		        {% endif %}
		    </span>
		</div>
    </div>
</div>

{% endblock %}
